<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="header">
    <div class="header-setting">
        <a href="/welcome" class="logoAndText">
            <img src="/style/icons/trophy.png" width="64px">
            <h1>Развитие спорта</h1>
        </a>
        <ul>
            <li><a href="/welcome">О нас</a></li>
            <li><a href="/news">Новости</a></li>
            <li><a href="/forum">Форум</a></li>

            <li><a sec:authorize="isAnonymous()"  href="/login">Авторизация</a></li>
            <li><a sec:authorize="isFullyAuthenticated()" th:text="${authenticatedUser.getUsername()}"></a></li>
        </ul>
        <div id="lang-set">
            <img src="/style/icons/down-arrow.png" width="16" style="margin-top: 4px; margin-right: 5px;">
            <h1>Қаз</h1>
            <div id="language-list">
                <li><a href="kaz.html">Қазақша</a></li>
                <li><a href="#">Русский</a></li>
            </div>
        </div>
        <div sec:authorize="hasAnyAuthority('ADMIN', 'WRITER')">
            <a style="text-decoration: none; font-family: 'Open Sans'; color: white" href="/create-news">Create-news</a>
        </div>
    </div>
</div>
<form class="form-container" method="post" th:object="${dto}" enctype="multipart/form-data">
    <h1>Create new article</h1>
    <input th:field="*{title}" type="text" placeholder="title">
    <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></label>

    <input th:field="*{description}" type="text" placeholder="description">
    <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label>

    <input type="file" name="file" placeholder="Please upload image">

    <button type="submit">Добавить</button>
</form>
</body>
</html>